<section class="clothes-girls">
    <h2 class="visually-hidden">Clothes for girls</h2>
    <ul class="goods-grid">
        <li class="goods-grid__item">
            <a href="#" class="goods" target="_blank" rel="noopener noreferrer">
                <span class="promo promo--novelty goods__promo">новинка</span>
                <figure class="goods__figure">
                    <picture class="goods__img-wrap">
                        <img class="goods__img" src="img/goods-img-1.jpg" alt="goods img">
                    </picture>
                    <figcaption class="goods__figcaption">
                        <ul class="goods__stars" data-stars="5">
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <div class="goods__description">Свитер в полоску</div>
                        <div class="goods__price">123 грн</div>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="goods-grid__item">
            <a href="#" class="goods" target="_blank" rel="noopener noreferrer">
                <span class="promo promo--bestseller goods__promo">хит продаж</span>
                <figure class="goods__figure">
                    <picture class="goods__img-wrap">
                        <img class="goods__img" src="img/goods-img-2.jpg" alt="goods img">
                    </picture>
                    <figcaption class="goods__figcaption">
                        <ul class="goods__stars" data-stars="4">
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <div class="goods__description">Платье с цветочным принтом</div>
                        <div class="goods__price">123 грн</div>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li class="goods-grid__item">
            <a href="#" class="goods" target="_blank" rel="noopener noreferrer">
                <figure class="goods__figure">
                    <picture class="goods__img-wrap">
                        <img class="goods__img" src="img/goods-img-3.jpg" alt="goods img">
                    </picture>
                    <figcaption class="goods__figcaption">
                        <ul class="goods__stars" data-stars="4">
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                            <li class="goods__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </li>
                        </ul>
                        <div class="goods__description">Джинсовый комбинезон</div>
                        <div class="goods__price">123 грн</div>
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
</section>