<span class="sidebar-toggle" onclick="toggleMenu(event)">
    <i class="fas fa-sort"></i>
    <span class="sidebar-toggle__text">фильтры</span>
</span>

<aside class="sidebar">
    <div class="sidebar-block sec maxheight">
        <select data-placeholder="Категории">
                <option></option>
                <option>Пункт 1</option>
                <option>Пункт 2</option>
                <option>Пункт 3</option>
                <option>Пункт 4</option>
                <option>Пункт 5</option>
                <option>Пункт 6</option>
                <option>Пункт 7</option>
        </select>
    </div>
    <div class="sec maxheight">
        <select data-placeholder="Размер">
            <option></option>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
            <option>Пункт 3</option>
            <option>Пункт 4</option>
            <option>Пункт 5</option>
            <option>Пункт 6</option>
            <option>Пункт 7</option>
            <option>Пункт 8</option>
        </select>
    </div>
    <div class="sec maxheight">
        <select data-placeholder="Цвет">
            <option>Цвет</option>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
            <option>Пункт 3</option>
            <option>Пункт 4</option>
            <option>Пункт 5</option>
            <option>Пункт 6</option>
            <option>Пункт 7</option>
            <option>Пункт 8</option>
            <option>Пункт 9</option>
        </select>
    </div>
    <div class="sec maxheight">
        <select data-placeholder="Материал">
            <div class="mCustomScrollbar" data-mcs-theme="dark-thick">
                <option></option>
                <option class="jq-selectbox__active">Все</option>
                <option>100% хлопок</option>
                <option>Трикотаж</option>
                <option>Шерсть</option>
                <option>Джинсовый</option>
                <option>Составной</option>
                <option>Пункт 7</option>
                <option>Пункт 8</option>
                <option>Пункт 9</option>
                <option>Пункт 10</option>
                <option>Пункт 11</option>
                <option>Пункт 12</option>
            </div>
        </select>
    </div>
    <button class="btn" type="button">Применить фильтр</button>
</aside>