@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans:wght@400;600;700&display=swap');

$body-ff   : 'Open Sans', sans-serif;
$title-ff  : 'Comfortaa', cursive;
$sidebar-ff: Arial, "Helvetica Neue", Helvetica, sans-serif;
$btn-ff    : Arial, "Helvetica Neue", Helvetica, sans-serif;

$light-gray  : #f9f9f9;
$medium-gray : #dbdbdb;
$light       : #fbfbfb;

$secondary-color      : #fff;
$primary-color        : #23a2be;
$stars-color-active   : #ffd36b;
$stars-color-noactive : #cecece;
$black                : #000;
$btn-color            : #36a7bf;
$btn-border-color     : #ebebeb;
$btn-border-slider    : #cccccc;
$arrow-slider-color   : #51b5ca;
$goods-border-color   : #c2e8f0;

$body-bg        : $light-gray;
$sidebar-bg     : $light;
$btn-bg         : $light;
$dots-active-bg : #e44256;

$promo-novelty-bg    : #48b3cb;
$promo-bestseller-bg : #ffae2e;

$body-color          : #282828;
$section-title-color : #2b2b2b;

$border-width: 1px;

$letter-space: -.01em;